<!DOCTYPE html>
<html>
<head>
  <title>MovRec</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header">Movie Rec</div>
	<div class="nav">
	    <a href="/home">HOME</a>
	</div>

	<div class="content">
		<%= yield %>
	</div>

</body>
</html>
