<!DOCTYPE html>
<html>
<head>
  <title>MovRec</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header">Movie Rec</div>
	<div class="nav">
	    <a href="/home">HOME</a>
	    <a href="/users">USERS</a>
	    <a href="/movies">MOVIES</a>
	    <a href="/actors">ACTORS</a>
	    <a href="/directors">DIRECTORS</a>
	    <a href="/topics">TOPICS/GENRES</a>
	    <a href="/studios">STUDIOS</a>
	    For testing:
	    <a href="/profiles">PROFILES</a>
	    <a href="/movie_ratings">WATCHED</a>
	</div>

	<div class="content">
		<%= yield %>
	</div>

</body>
</html>
